/* 
Версия V0.0.2
Файл стилей сайта Турист-pro
Адрес сайта iai.m2.wsr.ru
Автор: Иваницкий А.И.
Дата: 05.06.2022
Email: stydentrab@gmail.com
Компания: СПК http://spospk.ru */

/* Обнуляет ранее установленные параметры  */
    
html,
body {
    background: gray;
    margin: 0;
    padding: 0;
}

/* 1. Шапка, содержащая логотип, телефон компании и кнопку для заказа звонка; */

header {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 7px black;
}

/* Меню со ссылками в заголовке  */

header a {
    text-align: center;
    color: black;
    font-size: 17px;
    font: bold;
}
/* Стиль button рисует кнопки*/

header button {
    background-color: yellow;
    font-size: 17px;
    border-radius: 10px;
    font: bold;
}

.nav {
    width: 75%;
    padding: 15px 0;
    margin: 0 auto;
    /* Размещает меню по центру */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    padding: 0 3px;
}

.menu button {
    background-color: lightgrey;
}

/* 1. /Шапка, содержащая логотип, телефон компании, дивиз */

/* 2. Управление бронированием; */

.bron {
    width: 90%;
    background-color: white;
    margin: 25px auto;
    border-radius: 18px;
}

.alg_bron {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alg_bron img {
    width: 45%;
}

.alg_bron p {
    width: 70%;
    text-align: justify;
}

/* 2. / Управление бронированием; */

/* 3. Информация о компании; */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 90%;
    background-color: white;
    margin: 25px auto;
    padding: 15px 0;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap_comment {
    text-align: center;
    margin: 100px 0;
}

.wrap_comment img {
    width: 60%;
    height: auto;
    border: solid 1px;
    border-radius: 150px;
}

/* /3. Информация о компании; */

/* 4. Блок, содержащий поиск с полями ввода выбора региона, даты похода, количества участников, кнопкой поиска */
.search {
    width: 90%;
    background-color: white;
    margin: 25px auto;
    padding: 15px 0;
    border-radius: 18px;
}

.search h2 {
    text-align: center;
}

.search img {
    width: 98%;
    display: block;
    margin: 15px;
}

.search p {
    text-align: justify;
    margin: 15px;
}

.search form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
    border-radius: 35px;
}

/* 4. /Блок, содержащий поиск с полями ввода выбора региона, даты похода, количества участников, кнопкой поиска */

/* 5. Блок, содержащий информаццию об акициях; */
/*Задаем общий размер окна для показа слайдера */

.slider {
    height: 700px;
    width: 90%;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
}

.slider_img {
    /* Место положения слайдера*/
    position: absolute;
    /* Общее Время для цикла показа слайдера. Все картинки покажут за 50 сек*/
    animation: round 50s infinite;
    opacity: 0;
    width: 100%;
}

@keyframes round {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}
/* Задаётся время показа картинки. От 50 секунды до 40 секунды показывается img slider.jpg
От 40 сек до 30 сек показывается img slider2.jpg и Т.Д.
img:nth-child(1) 
Это img тэги
nth-child(1) - Это 1-й в стике одинаковых img тэгов.
В сниске их 5 штук подряд 
*/
img:nth-child(1) {
    animation-delay: 40s
}

img:nth-child(2) {
    animation-delay: 30s
}

img:nth-child(3) {
    animation-delay: 20s
}

img:nth-child(4) {
    animation-delay: 10s
}

img:nth-child(5) {
    animation-delay: 0
}
/* @media(min-width: 0px) and (max-width: 320px)
Эта запись говорит что при изменении размера экрана браузера
от 0 до 320 px надо изменить размер слайдера
.slider
width: 80%;
height: 190px;
*/

@media(min-width: 0px) and (max-width: 320px) {
    .slider {
        width: 80%;
        height: 100px;
    }
}

@media(min-width: 321px) and (max-width: 480px) {
    .slider {
        width: 80%;
        height: 190px;
    }
}

/* /5. Блок, содержащий информаццию об акициях; */

/* 6. Блок, содержащий краткую информацию о акциях и форму для подписки на email-рассылки. Поля формы: имя, адрес эл. почты, кнопка «подписаться».; */

.info {
    width: 90%;
    background-color: white;
    margin: 25px auto;
    padding: 15px 0;
    border-radius: 18px;
}

.info h2 {
    text-align: center;
}

.info img {
    width: 98%;
    display: block;
    margin: 15px;
}

.info p {
    text-align: justify;
    margin: 15px;
}

.info form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
    border-radius: 35px;
}
/* /6. Блок, содержащий краткую информацию о акциях и форму для подписки на email-рассылки. Поля формы: имя, адрес эл. почты, кнопка «подписаться».; */

/* 7. Кнопка, позволяющая вернуться наверх. */

.arrow_up {
    position: fixed;
    left: 25px;
    bottom: 25px;
}
/* /7. Кнопка, позволяющая вернуться наверх. */
/* Подвал */

footer {
    background: white;
    box-shadow: 0 2px 7px black;
    height: 100px;
}
/* Меню со ссылками в подвале  */

footer a {
    text-align: center;
    color: black;
    font-size: 20px;
}
/* /Подвал */